.*
!/.buildkite/
!/.custom-gcl.yaml
!/.envrc
!/.gitattributes
!/.github/
!/.gitignore
!/.golangci.yaml
!/.markdownlint.yaml
!/.mockery.yaml
!/.prettierrc.yaml
!/.yamlfmt
!/.yamllint
/bin/
/cover.out
/custom-gcl
/logs/
/profiles/
/temp/
/test.xml
/trace.out
